.contentContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.loginContainer{
    /* min-width: 200px; */
    width: 20%;
    flex:1;
    margin-left: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #eee;
}
.content{
    width: 80%;
}
